<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       default-init-method="onCreate"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
           http://www.springframework.org/schema/mvc http://www.springframework.org/mvc/spring-mvc-4.3.xsd
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/context/spring-context.xsd">


    <context:component-scan base-package="controllers"/>
    <context:component-scan base-package="services"/>
    <context:component-scan base-package="dao"/>
    <mvc:annotation-driven/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/jsp/hello" p:suffix=".jsp" p:viewClass="org.springframework.web.servlet.view.JstlView"></bean>

</beans>